<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div align="center" >
  <form #frmEdit = "ngForm" (ngSubmit)= "editPlayer(frmEdit)" *ngIf="toggleForm">
    <h2 style="text-align: center;">Edit Player's details</h2>
    <div class="form-group" style="width: 400px; margin: 30px;">
      <label for="">
        Name:
      </label>
      <input type ="text" class="form-control" name ="playerName" value = "" [ngModel] = "selectedPlayer.name">
    </div>
    <div class="form-group" style="width: 400px; margin: 30px;">
      <label for="">
        Nationality:
      </label>
      <input type ="text" class="form-control" name ="playerNationality" value = "" [ngModel] = "selectedPlayer.nationality">
    </div>
    <div class="form-group" style="width: 400px; margin: 30px;">
      <label for="">
        ATP Rank:
      </label>
      <input type ="number" class="form-control" name ="playerRank" value = "" [ngModel] = "selectedPlayer.rank">
    </div>
    <div class="form-group" style="width: 400px; margin: 30px;">
      <label for="">
        GrandSlams won:
      </label>
      <input type ="number" class="form-control" name ="playerGrandSlams" value = ""  [ngModel] = "selectedPlayer.grandSlamTitles">
    </div>
    <button style="width: 400px; margin: 30px;" type="submit" name="button" class="btn btn-success">Edit Player</button>
  </form>
</div>
